# Define unique names for the container and the server
# if you want to run more than one instance.
CONTAINER_NAME=valheim-server
INSTANCEID=1
# Server version settings
BRANCH=public
# Server port forwarding (udp and tcp)
SERVER_PORT=2456
# Server settings
SERVER_NAME=myserver
WORLD_NAME=myworld
# Server password
# Minimum 5 characters
PASSWORD=password
# If should enable crossplay
# Options: true | false
CROSSPLAY=true
# Controls server visibility ingame browser
# Options: true | false
PUBLIC=true
# Change how often the world will save in seconds
# Default is 30 minutes (1800 seconds)
SAVEINTERVAL=1800
# Sets how many automatic backups will be kept
BACKUPS=4
# Sets the interval between the first automatic backups
# Default is 2 hours (7200 seconds)
BACKUPSHORT=7200
# Sets the interval between the subsequent automatic backups
# Default is 12 hours (43200 seconds)
BACKUPLONG=43200
# Sets world modifier preset. Setting a preset will overwrite any other previous modifiers
# Valid values are: Normal, Casual, Easy, Hard, Hardcore, Immersive, Hammer
# Default is empty
PRESET=
# Sets chosen world modifier with value
#
# Valid modifiers and values are:
# combat: veryeasy, easy, hard, veryhard
# deathpenalty: casual, veryeasy, easy, hard, hardcore
# resources: muchless, less, more, muchmore, most
# raids: none, muchless, less, more, muchmore
# portals: casual, hard, veryhard
#
# Example: MODIFIERS="raids muchmore;portals veryhard"
# Default is empty
MODIFIERS=
# Sets a world modifier checkbox key
# Valid values are: nobuildcost, playerevents, passivemobs, nomap
# Example: SETKEYS="nobuildcost;passivemobs"
# Default is empty
SETKEYS=